<%= form_tag '/users/send_sms', :method => :post, :id => "send_sms_table" do %>
<!-- inbox -->
<div class="row-fluid">
	<div class="table-header">
		Data Proposal
	</div>
	<table id="table_report" class="data_final_project_tables table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center">
					<label>
						<input type="checkbox" />
						<span class="lbl"></span>
					</label>
				</th>
				<th>NIM</th>
				<th class="hidden-phone">Nama</th>
        <th>Pembimbing 1</th>
        <th>Pembimbing 2</th>
        <th>Bim.Terakhir</th>
        <th>Progress</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
      <% @final_projects.each do |final_project| %>
        <tr>
  				<td class="center">
  					<label>
              <%= check_box_tag 'collection_selection[]', final_project.user.id %>
  						<span class="lbl"></span>
  					</label>
  				</td>
          <td><%= final_project.user.keyid %></td>
          <td><%= final_project.user.username %></td>
          <td><%= final_project.advisor_1.username %></td>
          <td><%= final_project.advisor_2.present? ? final_project.advisor_2.username : final_project.advisor_2_name %></td>
          <td><%= timeago_tag final_project.report_final_projects.last.try(:created_at), :nojs => true, :limit => 20.days.ago %></td>
          <td>
						<div class="progress" data-percent="<%= final_project.progress %>%">
							<div class="bar bar-success" style="width: <%= final_project.progress %>%;"></div>
						</div>
          </td>
          <td>
            <%= link_to final_project_path(final_project), :class => "btn btn-minier btn-primary btn-tooltip", :title => "Lihat Final Project", :data => {:placement => "bottom"} do %>
              <i class="icon-eye-open"></i>
            <% end %>
            <%= link_to "/todo_final_projects/issue/#{final_project.user.slug}", :class => "btn btn-minier btn-success btn-tooltip", :title => "Lihat Todo Final Project", :data => {:placement => "bottom"} do %>
              <i class="icon-external-link"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
		</tbody>
	</table>
</div><!-- end row fluid -->
<!-- end inbox -->
<% end %>