<%= simple_nested_form_for @todo_final_project, :url => "/todo_final_projects/issue/#{@final_project.user.slug}", :validate => true, :html => {:class => "client_side_validation",:multipart => true} do |f| %>
  <% @todo_final_project.errors.each do |g,c| %>
    <%= g %><%= c %>
  <% end %>
  <div class="row-fluid">
    <%= f.input :title, :label => "Judul", :input_html => {:class => "span12"} %>
    <%= f.input :message, :as => :ckeditor, :label => "Deskripsi",:input_html => {:ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
    <%= f.input :final_project_id, :as => :hidden %>
  </div><!-- end row -->
  <%= f.simple_fields_for :attachments do |n| %>
    <div class="row-fluid">
      <div class="span6"><%= n.input :file, :input_html => {:class => "upload_file"} %></div>
      <div class="span6"><%= n.link_to_remove "remove" %></div>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add a attachment", :attachments %></p>
  <div class="row-fluid">
    <div class="span12"></div>
  </div>
  <div class="row-fluid">
		<div class="form-actions">
			<button class="btn btn-success" type="submit">
				<i class="icon-ok bigger-110"></i>
				Save
			</button>
		</div>
  </div><!--/row-->
<% end %>