<div class="span8">
  <div class="widget-box">
  	<div class="widget-header">
  		<h4>Status Tugas Akhir</h4>

  		<span class="widget-toolbar">
  			<a href="#" data-action="collapse">
  				<i class="icon-chevron-up"></i>
  			</a>

  			<a href="#" data-action="close">
  				<i class="icon-remove"></i>
  			</a>
  		</span>
  	</div>

  	<div class="widget-body">
  		<div class="widget-main">
        <div class="row-fluid">
          <div class="span12">
            <% if current_user.students_status.status == 0 %>
              Anda belum memilih topik. Silahkan mencari topik tugas akhir anda <%= link_to "di sini", topics_path %>
            <% elsif current_user.students_status.status == 1 %>
              Menunggu konfirmasi dari dosen. Klik <%= link_to "di sini", messages_path(:recipient_key_id => current_user.topic_tags.get_empty_topic_with_key_id) %> untuk mengirim pesan ke dosen atau klik <%= link_to 'di sini', topic_tag_path(current_user.topic_tags.first) %> untuk melihat topik yang diajukan
            <% elsif current_user.students_status.status == 2 %>
              <%= render :partial => "dashboards/students/progress_proposal", :locals => {:proposal_status => current_user.proposal} %>
            <% elsif current_user.students_status.status == 3 %>
              <%= render :partial => "dashboards/students/progress_final_project", :locals => {:final_project_status => current_user.final_project} %>
            <% end %>
          </div>
        </div>
  		</div>
  	</div>
  </div>
</div><!-- end span-->