<div class="row-fluid">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Mahasiswa : </dt>
      <dd><%= link_to @examiner.final_project.user.username, user_profile_path(@examiner.final_project.user) %></dd>
      <dt>Pembimbing 1 : </dt>
      <dd><%= link_to @examiner.final_project.advisor_1.username, user_profile_path(@examiner.final_project.advisor_1) %></dd>
      <dt>Pembimbing 2 : </dt>
      <dd><%= @examiner.final_project.advisor_2.present? ? (link_to @examiner.final_project.advisor_2.username, user_profile_path(@examiner.final_project.advisor_2)) : @examiner.final_project.advisor_2_name %></dd>
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Penguji 1 : </dt>
      <dd><%= link_to @examiner.examiner_1.username, user_profile_path(@examiner.examiner_1) if @examiner.examiner_1.present? %></dd>
      <dt>Penguji 2 : </dt>
      <dd><%= link_to @examiner.examiner_2.username, user_profile_path(@examiner.examiner_2) if @examiner.examiner_2.present? %></dd>
      <dt>Penguji 3 : </dt>
      <dd><%= link_to @examiner.examiner_3.username, user_profile_path(@examiner.examiner_3) if @examiner.examiner_3.present? %></dd>
    </dl>
  </div>