<!-- new message -->
<div class="row-fluid">
	<div class="span12">
    <%= simple_nested_form_for message, :url => messages_path, :validate => true, :html => {:multipart => true, :class => "client_side_validation"} do |f| %>
      <%= f.input :recipient_name, :label => "To :", :placeholder => "#{current_user.is_student? ? 'masukkan nama atau NIP' : 'masukkan nama atau NIM'}", :input_html => {:class => "user_find_ajax", :data => {:autocomplete_source => search_user_profiles_path, :input => "recipient_id"}} %>
      <%= f.input :recipient_id, :as => :hidden, :input_html => {:id => "recipient_id"} %>
      <%= f.input :subject, :label => "Subject :" %>
      <%= f.input :body, :label => "Message :", :as => :ckeditor,:input_html => {:ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
      <%= f.simple_fields_for :attachments do |n| %>
        <div class="row-fluid">
          <div class="span6"><%= n.input :file, :input_html => {:class => "upload_file"} %></div>
					<%= n.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
          <div class="span6"><%= n.link_to_remove "remove" %></div>
        </div>
      <% end %>
      <p><%= f.link_to_add "Add a attachment", :attachments %></p>
			<div class="form-actions">
				<button class="btn btn-success" type="submit">
					<i class="icon-ok bigger-110"></i>
					Submit
				</button>
			</div>
    <% end %>
	</div><!--/span-->
</div><!--/row-->
<!-- end new message -->