<%= simple_nested_form_for @news, :validate => true, :html => {:class => "client_side_validation",:multipart => true} do |f| %>
  <% if @news.errors.any? %>
    <%= render :partial => "shared/error_messages", :locals => {:context => @news } %>
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <%= f.input :title, :label => "Judul" %>
      <%= f.input :description, :as => :ckeditor, :label => "Deskripsi",:input_html => {:ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
    </div>
  </div><!-- end row -->
  <%= f.simple_fields_for :attachments do |n| %>
    <%= render :partial => "shared/file_upload", :locals => {:n => n} %>
  <% end %>
  <p><%= f.link_to_add "Add a attachment", :attachments %></p>
  <div class="row-fluid">
		<div class="form-actions">
			<button class="btn btn-info" type="submit">
				<i class="icon-ok bigger-110"></i>
				Submit
			</button>
		</div>
  </div><!--/row-->
<% end %>