<a id="menu-toggler" href="#">
	<span></span>
</a>

<div id="sidebar">
	<div id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large">
      <%= link_to messages_path, :class => "btn btn-small btn-success" do %>
        <i class="icon-envelope"></i>
      <% end %>
      
      <%= link_to new_topic_path, :class => "btn btn-small btn-info" do %>
        <i class="icon-pencil"></i>
      <% end %>

			<button class="btn btn-small btn-warning">
				<i class="icon-group"></i>
			</button>

			<button class="btn btn-small btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>

		<div id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->

	<ul class="nav nav-list">
		<li class="<%= 'active' if controller_name == 'dashboards' %>">
      <%= link_to root_path do %>
			  <i class="icon-dashboard"></i><span>Dashboard</span>
      <% end %>
		</li>
	  <% if can? :read, Topic %>
  		<li class="<%= 'active' if controller_name == 'topics' %>">
        <%= link_to topics_path do %>
  			  <i class="icon-list"></i><span>Topik Tugas Akhir</span>
        <% end %>
  		</li>
    <% end %>
	</ul><!--/.nav-list-->

	<div id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>