<a id="menu-toggler" href="#">
	<span></span>
</a>

<div id="sidebar">
	<div id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large">
      <%= link_to messages_path, :class => "btn btn-small btn-success" do %>
        <i class="icon-envelope"></i>
      <% end %>
      
      <% if current_user.is_advisor? %>
        <%= link_to new_topic_path, :class => "btn btn-small btn-info" do %>
          <i class="icon-pencil"></i>
        <% end %>
      <% end %>

			<button class="btn btn-small btn-warning">
				<i class="icon-user"></i>
			</button>

			<%= link_to edit_user_profile_path(current_user), :class => "btn btn-small btn-danger" do %>
        <i class="icon-cogs"></i>
      <% end %>
		</div>

		<div id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->

	<ul class="nav nav-list">
		<li class="<%= 'active' if controller_name == 'dashboards' %>">
      <%= link_to root_path do %>
			  <i class="icon-dashboard"></i><span>Dashboard</span>
      <% end %>
		</li>
		<li class="<%= 'active' if controller_name == 'messages' %>">
      <%= link_to messages_path do %>
			  <i class="icon-envelope"></i><span>Messages</span>
      <% end %>
		</li>
	  <% if can? :read, Topic %>
  		<li class="<%= 'active' if controller_name == 'topics' %>">
        <%= link_to topics_path do %>
  			  <i class="icon-list"></i><span>Topik Tugas Akhir</span>
        <% end %>
  		</li>
    <% end %>
    <% if current_user.is_student? and current_user.topic_tags.present? and current_user.students_status.is_tag_topic? %>
		<li class="<%= 'active' if controller_name == 'topic_tags' %>">
      <%= link_to topic_tag_path(current_user.topic_tags.first) do %>
			  <i class="icon-tasks"></i><span>Topic Tag</span>
      <% end %>
		</li>
    <% end %>
		<% if current_user.is_student? and current_user.proposal.present? and current_user.students_status.is_working_proposal? %>
			<li class="<%= 'active' if controller_name == 'todo_proposals' || controller_name == 'proposals' %>">
	      <%= link_to todo_proposals_path do %>
				  <i class="icon-tasks"></i><span>Todo Proposal</span>
	      <% end %>
			</li>
		<% end %>
		<% if current_user.is_student? and current_user.final_project.present? and current_user.students_status.is_working_final_project? %>
			<li class="<%= 'active' if controller_name == 'todo_final_projects' || controller_name == 'final_projects' %>">
	      <%= link_to todo_final_projects_path do %>
				  <i class="icon-tasks"></i><span>Todo Final Projects</span>
	      <% end %>
			</li>
		<% end %>
		<li class="<%= 'active' if controller_name == 'news' %>">
      <%= link_to news_index_path do %>
			  <i class="icon-list-alt"></i><span>News</span>
      <% end %>
		</li>
		<li class="<%= 'active' if controller_name == 'documents' %>">
      <%= link_to documents_path do %>
			  <i class="icon-edit"></i><span>Documents</span>
      <% end %>
		</li>
		<li class="<%= 'active' if controller_name == 'notifications' %>">
      <%= link_to old_notifications_path do %>
			  <i class="icon-comments"></i><span>Notifications</span>
      <% end %>
		</li>
		<li class="<%= 'active' if controller_name == 'archives' %>">
      <%= link_to archives_path do %>
			  <i class="icon-copy"></i><span>Archives</span>
      <% end %>
		</li>
	</ul><!--/.nav-list-->

	<div id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>