<div id="main-content" class="clearfix">
	<%= render :partial => "shared/breadcrumbs" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Edit <%= @user.user_is_role %>
				<small>
					<i class="icon-double-angle-right"></i>
					Hasil Pencarian
				</small>
			</h1>
		</div><!--/.page-header-->
		<div class="row-fluid">
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
			<!--PAGE CONTENT BEGINS HERE-->
      <% if @user.is_student? %>
        <%= render 'users/form/student_form' %>
      <% elsif @user.is_advisor? %>
        <%= render 'users/form/advisor_form' %>
      <% end %>
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
</div><!--/#main-content-->
