<div class="widget-box">
	<div class="widget-header">
		<h4>
			<i class="icon-list"></i>
			Proposal Data
		</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<div class="row-fluid">
				<div class="span12">
				  <dl>
				    <dt>Judul Proposal</dt>
            <dd><%= proposal.title %></dt>
  				  <dt>Pembimbing 1</dt>
            <dd><%= proposal.advisor_1.username %></dt>
    				<dt>Pembimbing 2</dt>
            <dd><%= proposal.advisor_2.username %></dt>
				  </dl>
				</div>
			</div><!-- row fluid end -->
      <div class="row-fluid">
        <div class="span12">
  				<div class="progress" data-percent="<%= proposal.progress %>%" id="progress_bar">
  					<div class="bar" style="width: <%= proposal.progress %>%;" id="progress_bar_count"></div>
  				</div>
          <% if can? :update_progress, Proposal %>
            <div id="update_progress_form">
              <%= render :partial => 'todo_proposals/partials/update_progress_form', :locals => {:proposal => proposal} %>
            </div>
          <% end %>
        </div>
      </div><!-- row fluid end -->
		</div>
	</div>
</div>
