<div id="main-content" class="clearfix">
	<%= render :partial => "shared/breadcrumbs" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				News
				<small>
					<i class="icon-double-angle-right"></i>
					<%= @news.title %>
				</small>
			</h1>
		</div><!--/.page-header-->

		<div class="row-fluid">
			<!--PAGE CONTENT BEGINS HERE-->
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
      <div class="row-fluid item_topic">
        <div class="span12">
          <div class="row-fluid item_header">
            <div class="span12">
          		<%= link_to news_path(@news) do %>
            		<h5>
                  <%= @news.title %>
                </h5>
              <% end %>
              <h6>Di posting oleh : <%= @news.user.username %></h6>
              <h6>pada tanggal <%= @news.created_at.strftime('%d %B %Y')%></h6>
            </div>
          </div><!-- end row -->
          <br>
          <div class="row-fluid item_body" style="font-size: 11px;">
            <%= raw @news.description %>
            <% if @news.attachments.present? %>
            <h4>Attachments</h4>
              <% @news.attachments.each do |k| %>
                <%= link_to File.basename(k.file.path), k.file.url.to_s, :target => k.id %>
              <% end %>
            <% end %>
          </div><!-- end row -->
        </div>
      </div><!-- end row -->
      <div class="hr hr32 hr-dotted"></div>
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
</div><!--/#main-content-->
<% if can? :edit, News %>
  <%= render :partial => "news/partials/config_button" %>
<% end %>