<div id="main-content" class="clearfix">
	<%= render :partial => "todo_proposals/breadcrumbs/index" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Todos Proposals
				<small>
					<i class="icon-double-angle-right"></i>
					Todos and progress
				</small>
			</h1>
		</div><!--/.page-header-->

		<div class="row-fluid">
			<!--PAGE CONTENT BEGINS HERE-->
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
      <div class="row-fluid">
        <div class="span4">
					<%= render :partial => "todo_proposals/partials/progress", :locals => {:student_data => current_user } %>
        </div>
        <div class="span8">
					<div class="row-fluid">
						<div class="span12">
							<div class="tabbable">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a data-toggle="tab" href="#open">
											Open
                      <span class="badge badge-success" id="open_count"><%= @todo_proposals_open.size %></span>
										</a>
									</li>

									<li>
										<a data-toggle="tab" href="#close">
											Close
											<span class="badge badge-important" id="close_count"><%= @todo_proposals_close.size %></span>
										</a>
									</li>
								</ul>

								<div class="tab-content">
									<div id="open" class="tab-pane in active">
									  <%= render :partial => "todo_proposals/partials/open_issue", :locals => {:open_issue => @todo_proposals_open } %>
									</div>

									<div id="close" class="tab-pane">
										<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
									</div>
								</div>
							</div>
						</div><!--/span-->
					</div><!--/row-->
        </div><!-- end span12 -->
      </div><!-- end row -->
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
  <%= render :partial => "todo_proposals/partials/config_button" %>
</div><!--/#main-content-->