<!-- inbox -->
<div class="row-fluid">
	<div class="table-header">
		Data Dosen
	</div>

	<table id="table_report" class="data_advisor_tables table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="hidden-phone">NIP</th>
				<th>Nama</th>
        <th>Jumlah bimbingan</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
      <% @users.each do |f| %>
        <tr>
          <td><%= f.keyid %></td>
          <td><%= link_to f.username, user_profile_path(f) %></td>
          <td><%= f.advisors_status.coordinator %>/<%= f.advisors_status.max_coordinator %></td>
          <td>
            <%= link_to edit_user_path(f), :class => "btn btn-minier btn-success btn-tooltip", :title => "Edit Dosen", :data => {:placement => "bottom"} do %>
              <i class="icon-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
		</tbody>
	</table>
</div><!-- end row fluid -->
<!-- end inbox -->