<%= simple_form_for @examiner, :validate => true, :html => {:class => "client_side_validation",:multipart => true} do |f| %>
  <% if @examiner.errors.any? %>
    <%= render :partial => "shared/error_messages", :locals => {:context => @examiner } %>
  <% end %>
  <% if @examiner.status == "tunggu konfirmasi" %>
    <%= f.input :datetime, :label => "Tanggal dan Waktu", :as => :string, :input_html => {:class => "datetimepicker"} %>
    <%= f.input :location %>
    <%= f.input :can_session, :as => :hidden, :input_html => {:value => true} %>
    <%= f.submit "Siap Sidang", :class => "btn btn-info" %>
  <% elsif @examiner.status == "cari dosen penguji" or @examiner.status == "siap sidang"%>
    <%= f.input :examiner_1_name, :label => "Ketua Sidang", :input_html => {:class => "user_find_ajax", :value => f.object.examiner_1.try(:username), :data => {'autocomplete-source' => search_examiner_path(f.object.final_project), :input => 'examiner_examiner_1_id'}} %>
    <%= f.input :examiner_1_id, :as => :hidden %>
    <%= f.input :examiner_2_name, :label => "Sekertaris Sidang", :input_html => {:class => "user_find_ajax", :value => f.object.examiner_2.try(:username), :data => {'autocomplete-source' => search_examiner_path(f.object.final_project), :input => 'examiner_examiner_2_id'}} %>
    <%= f.input :examiner_2_id, :as => :hidden %>
    <%= f.input :examiner_3_name, :label => "Penguji", :input_html => {:class => "user_find_ajax", :value => f.object.examiner_3.try(:username), :data => {'autocomplete-source' => search_examiner_path(f.object.final_project), :input => 'examiner_examiner_3_id'}} %>
    <%= f.input :examiner_3_id, :as => :hidden %>
    <%= f.input :datetime, :label => "Tanggal dan Waktu", :as => :string, :input_html => {:class => "datetimepicker", :value => "#{f.object.datetime.try(:strftime,'%d/%m/%Y %H:%M')}"} %>
    <%= f.input :location %>
    <%= f.input :note, :as => :ckeditor, :label => "Note",:input_html => {:ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
    <div class="row-fluid">
      <div class="span12">
      </div>
    </div><!-- end row -->
    <div class="row-fluid">
    	<div class="form-actions">
    		<button class="btn btn-info" type="submit">
    			<i class="icon-ok bigger-110"></i>
    			Submit
    		</button>
    	</div>
    </div><!--/row-->
  <% end %>
<% end %>