<%= simple_nested_form_for todo_comment, :validate => true, :remote => true, :html => {:multipart => true, :class => "client_side_validation"} do |f| %>
  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <%= f.input :commentable_id, :as => :hidden %>
  <%= f.input :commentable_type, :as => :hidden %>
  <%= f.ckeditor :comment, :label => false,:input_html => {:id => "ckeditor_input", :ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
  <%= f.simple_fields_for :attachments do |n| %>
    <%= render :partial => "shared/file_upload", :locals => {:n => n} %>
  <% end %>
  <p><%= f.link_to_add "Add a attachment", :attachments %></p>
	<div class='form-actions'>
		<button class='btn btn-success' type='submit'>
			<i class='icon-ok bigger-110'></i>
			Send Message
		</button>
	</div>
<% end %>