<div id="main-content" class="clearfix">
	<%= render :partial => "todo_final_projects/breadcrumbs/index" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Todos Final Projects
				<small>
					<i class="icon-double-angle-right"></i>
					Todos and progress
				</small>
			</h1>
		</div><!--/.page-header-->

		<div class="row-fluid">
			<!--PAGE CONTENT BEGINS HERE-->
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
      <div class="row-fluid">
        <div class="span4">
					<div class="row-fluid">
					  <div class="span12">
					    <%= render :partial => "todo_final_projects/partials/progress", :locals => {:final_project => @final_project, :error_report => "" } %>
					  </div>
					</div>
					<% if current_user.students_status.is_final_session? or current_user.students_status.is_working_revision? %>
    				<div class="row-fluid">
    				  <div class="span12">
    				    <%= render :partial => "todo_final_projects/partials/upload_document_final_project", :locals => {:final_project => @final_project } %>
    				  </div>
    				</div>
          <% end %>
        </div>
        <div class="span8">
					<div class="row-fluid">
						<div class="span12">
							<div class="tabbable">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
                    <%= link_to "/todo_final_projects/#{@final_project.user.slug}/open", :remote => true, :data => {:toggle => "tab", :target => "#open"} do %>
										  Open
                      <span class="badge badge-success" id="open_count"><%= @todo_final_project_open.size %></span>
                    <% end %>
									</li>

									<li>
                    <%= link_to "/todo_final_projects/#{@final_project.user.slug}/close",:remote => true, :data => {:toggle => "tab", :target => "#close"} do %>
										  Close
										  <span class="badge badge-important" id="close_count"><%= @todo_final_project_close.size %></span>
                    <% end %>
									</li>
								</ul>

								<div class="tab-content">
									<div id="open" class="tab-pane in active">
									  <%= render :partial => "todo_final_projects/partials/open_issue", :locals => {:open_issue => @todo_final_project_open, :final_project => @final_project } %>
									</div>

									<div id="close" class="tab-pane">
									</div>
								</div>
							</div>
						</div><!--/span-->
					</div><!--/row-->
        </div><!-- end span12 -->
      </div><!-- end row -->
      <div class="row-fluid">
        <div class="span12">
          <%= render :partial => "todo_final_projects/partials/reports", :locals => {:reports => @report_final_projects, :final_project => @final_project} %>
        </div>
      </div><!-- end row -->
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
  <%= render :partial => "todo_final_projects/partials/config_button", :locals => {:final_project => @final_project} %>
</div><!--/#main-content-->
