<div id="active_admin_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <% if @import_student.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@import_student.errors.count, "error") %> prohibited this import from completing:</h2>
            <ul>
            <% @import_student.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <%= semantic_form_for @import_student, :url => create_import_student_admin_users_path  do |f| %>
      <fieldset class="inputs">
        <legend>
          <span>Admin Details</span>
        </legend>
        <ol>
          <%= f.input :file, :as => :file %>
        </ol>
      </fieldset>
        <%= f.submit "Import" %>
      <% end %>
    </div>
  </div>
</div>
      