<%= simple_form_for proposal, :url => proposals_path, :validate => true, :html => {:method => "post", :class => "client_side_validation",:multipart => true, :id => "form_topic_tag"} do |f| %>
  <div class="row-fluid">
    <div class="span12">
  		<blockquote>
  			<p>Isi Form berikut jika anda menyetujui judul proposal ini</p>
  		</blockquote>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= f.input :advisor_2_name, :label => "Nama Pembimbing 2", :placeholder => "masukkan nama atau NIP", :input_html => {:class => "user_find_ajax", :data => {:autocomplete_source => search_only_advisor_user_profiles_path}} %>
      <%= f.input :title, :label => "Judul Proposal Tugas Akhir" %>
      <%= f.input :description, :as => :ckeditor, :label => "Deskripsi",:input_html => {:ckeditor => {:customConfig => '/assets/ckeditor/myconfig.js'}} %>
      <%= f.input :user_id, :as => :hidden %>
      <%= f.input :advisor_1_id, :as => :hidden %>
      <%= f.input :advisor_2_id, :as => :hidden, :input_html => {:class => "recipient_id"} %>
      <%= f.input :topic_id, :as => :hidden %>
      <%= hidden_field_tag :topic_tag_id, topic_tag_id %>
    </div>
  </div><!-- end row -->
  <div class="row-fluid">
    <div class="span12"></div>
  </div>
  <div class="row-fluid">
		<div class="form-actions">
			<button class="btn btn-success" type="submit">
				<i class="icon-ok bigger-110"></i>
				  Buat proposal
			</button>
		</div>
  </div><!--/row-->
<% end %>